name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Execute unit and integration tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Check out repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Fetch Rust dependencies
      run: cargo fetch --locked
    - name: Check formatting
      run: cargo fmt --check
    - name: Build
      run: cargo build --locked
    - name: Run tests
      run: cargo test --locked --verbose
    - name: Look for common mistakes
      run: cargo clippy --locked
